name: Site CI
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  repository_dispatch:

permissions:
  contents: write
  issues: write
  pages: write

jobs:
  site:
    name: Build status page
    runs-on: ubuntu-latest
    steps:
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
