name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:
    branches:
      - master
      - main

permissions:
  contents: write
  issues: write
  pages: write
  id-token: write

jobs:
  uptime:
    name: Uptime monitoring
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "readme"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "graphs"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "response-time"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "summary"
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
